version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: tb-postgres
    env_file:
      - .env
    ports:
        - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: